*{
    font-family: sans-serif;  
}

header{
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(22, 61, 167);
    color: white;
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 1.8rem;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}

h2{
    font-size: 1.4rem;
    text-align: center;
    color: white;
    float: left;
}

h3{
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

body{
    margin: 0px;
    background-color: rgb(62, 121, 231);
    color: rgb(8, 8, 8);
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.intro{
    height: 550px;
}

p{
    margin: 1em;
}

#zen-summary{
    text-align: center;
}

#zen-supporting p{
    line-height: 1.5;
}

abbr{
    font-family: small-caps;
}

#design-archives{
    display: none;
}

li{
    list-style: none;
    margin-bottom: 1em;
    text-align: center;
}

footer{
    background-color: yellow;
    margin: 4%;
}

footer a{
    border: 2px solid black;
    padding: 0.5em;
}

.page-wrapper {
    position: relative;
}

.explanation{
    width: 60%;
    margin-right: 35%;
    border-right: 1px solid #1f295c;
    padding-right: 2%;
}

.design-selection{
    position: absolute;
    top: 26%;
    left:62%;
    padding-inline: 2%;
}